<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900|Roboto+Mono:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
    <title>list in DB</title>
</head>



<body>
    
    
    <section id='cover'>
        <div class="container">
            <div class="col">
                <h2 class="cover-title">
                    오늘 본 영화 별점 매기기를<br>
                    내일로 미루지 말자<br>
                </h2>
                <a class="cover-text"> 그 감성 그대로 바로 이곳에</a>
            </div>
        </div>
    </section>
    
    
    <div class="container">
        <div class="col">
            <a href='/movies/new' class="btn_base btn-secondary btn-lg" role="button" aria-pressed="true"> 평론가 못지 않은 평가 기대할게 </a>
        </div>
    </div>
    


    <div class="container">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th align=center>no.</td>
                        <th align=center>타이틀</td>
                        <th align=center>평점</td>
                    </tr>
                </thead>
                <tbody>
                    {% for m in movies %}
                        <tr> 
                            <td> {{m.id}}</td>
                            <td><a href="/movies/{{m.id}}"> {{m.title}}</a></td>
                            <td>{{m.score}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>