{% extends 'base.html' %}

{% block title %}
프로젝트공오다시디테일
{% endblock %}


{% block body %}
<section id='cover'>
    <div class="container">
        <div class="col">
            <h1 class="cover-title">
                TITLE
            </h1>
        </div>
    </div>
</section>

<footer id="footer" >
    <div class="container">
        <div class="row">
            <div class="col-2">
                <p class="footer-copy">SWon</p>
            </div>
            <div class="col-8">
            </div>
            <div class="col-2" >
                <a href="#" class="top"><img src="../static/assets/Arrows-Right-Arrow-icon.png" alt=""></a> 
            </div>
        </div>
    </div>
</footer>

{% endblock %}
