{% extends 'base.html' %}

{% block title %}
프로젝트공오다시디테일 - mypage
{% endblock %}


{% block body %}

<div class="mypage-body container" > 
    <div class= 'row justify-content-center'>
        <div class="col-4" >
            <div class="card position-fixed" style="width: 18rem;">
                <div class="image-cropper" >
                    <!--스타일 css로 가져가기... 왜 적용안되냐고 ㅠㅠ -->
                    <img class="card-img-top round" src="../static/assets/signup.jpg" alt="Card image cap">
                </div>
            
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text1">user@ssafy.com</p>
                    <p class="card-text2">Learn ipsum dolor sit amet consectetur adipipisicing elit. Numquam.</p>
                    <a href="#" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
        
        <div class="col-8">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/assets/card-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/assets/card-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/assets/card-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/assets/card-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/assets/card-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/assets/card-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
        
</div>

{% endblock %}