html{
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
}






.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(210, 208, 222, 0.8)
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}


.navbar-brand, .footer-brand {
    font-family: 'Baloo Thambi', cursive;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
}









#cover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    height: 350px;
    background-size: cover;
    background-image: url('../02.web/assets/film1.jpg');
    background-position: center center;
    color: floralwhite;
}


.cover-title{
    font-size: 60px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


.cover-text{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-weight: 200;
    margin-left: 10px;
}








/* subtitile
        2-1 마진 : 위 아래 3rem
        2-2 글씨 부분 : h3태그
        2-3 밑줄 너비 : 70px , 색상 자유롭게
        + 추가 문구 자유롭게
*/


/* card view 
        3-1 카드 : 6개 이상, 반응형 배치
            > 576px 미만 : 1개
            > 576px 이상 768px 미만 : 2개
            > 768px 이상 992px 미만 : 3개
            > 992px 이상 : 4개
        3-2 마진 : 위 아래 1rem
        3-3 이미지 : 제공된 이미지 활용, alt 속성 값 필수 (이미지 대안)
        3-4 영화제목 : 이미지 하단, h4태그
        3-5 네이버 영화평점 : 제목 옆
            > 9점이상: 청색계열
            > 9점미만: 어두운 계열
        3-6 제목, 평점, 내용 구분선 
        3-7 영화장르, 개봉일 : 구분선 아래 
        3-8 영화 상세 정보 링크 : 카드뷰 최하단, 새창에서 열기 
        + 영화 추가정보 
*/


#movies{
    padding: 30px;
    background-color: aliceblue;
}

/* 2-1 */
.subtitle{
    margin: 3rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 3;
    font-size: 36px;
    letter-spacing: 0.5; 
}

/* 2-3 */
.line-border{
    height: 0px;
    width: 70px ;
    border: solid 1px;
    color: #063e60;
}

.sub-text{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.5;
    margin-bottom: 10rem;

}

.subtitle-header .container{
    margin-top: 2rem;
}


/* .card-title{
    align-content: center;
    justify-content: center;
} */

.badge-low{
    background-color: #cee1ed;
    border-radius: 4px;
    color: #181818;
    border: 2px solid #cee1ed;
    font-size: 12px;
    padding: 2px;
    margin-left: 3px;
}

.badge-high{
    background-color: #063e60;
    border-radius: 4px;
    color: #f6ece6;
    border: 2px solid #063e60;
    font-size: 12px;
    padding: 2px;
    margin-left: 6px;

}

/* 3-2 */
.card_view{
    margin: 1rem 0;
}


.card-line{
    height: 0px;
    width: 110px ;
    border: solid 0.6px;
    color: #cee1ed;
}





/* detail view */

.image-cover {
    position: relative;
}

.image-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Adjust the color values to achieve desired darkness */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}

















#footer{
    padding: 0 3rem; 
    height: 200px;
    background-color: #1c2625;
    color: floralwhite;
    display: flex;
    align-items: flex-end;
}


.footer-copy{
    letter-spacing: -0.04;
    display: flex;
    align-items: flex-end;
}



.footer-text{
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.9;
}


ul {
    list-style-type: none;
    padding: 0px;
}

ul a{
    color: inherit;
}


a.top{
    line-height: 5rem;
    margin-bottom: 20px; 

}

a.top img{
    width: 150px; 
    height: 150p-x;
    position: relative;
    top: -30px;
}

